html {
    align-items: center;
    background: lavender;
    display: flex;
    height: 100%;
    justify-content: center;
}

body {
background-color: lavender;
padding: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    line-height: 1.4rem;
    margin: 2rem;
    max-width: 20rem;
}

p:last-of-type {
    font-size: .8rem;
}

a {
    border-bottom: 1px solid #ccc;
    color: #333;
    display: inline-block;
    margin: 0 .5rem;
    text-decoration: none;
}

a:first-child {
    margin-left: 0;
}

a:hover {
    border-bottom-color: #333;
}